<html>
<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>

  <!-- axios  Ajax 使用库横项测评  -->
  <!-- <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script> -->

  <style type="text/css">

/*.needClass{
  color: blue;
  background-color: green;
  font-size:100px;

} */

</style>


</head>
<body>

    <!-- 放在这里就会被html 给普通渲染了 -->
    <div>
        <childdemo my-message="hello">  </childdemo>
    </div>

  <!-- <todo-item> </todo-item>> -->

  <div id="app-7"> 

    <!-- 组件一定要在 Vue实例的范围内否则不生效 -->
        <childdemo :my-message="111">  </childdemo>



    <input type="number" name="aaaa" v-model="msg">
    <p>Message is: {{ msg }}</p>

    <ol>
      <!-- Now we provide each todo-item with the todo object    -->
      <!-- it's representing, so that its content can be dynamic -->

      <todo-item v-for="(item, index) in groceryList"
      v-bind:todo="item"
      v-bind:index="index">
    </todo-item>
  </ol>

  <ul >
    <li v-for="(item, index) of groceryList">
      {{ parentAreaMessage }} - {{ index }} - {{ item.text }}
    </li>
  </ul>


  <ul >
    <li v-for="(value, key, index) in object">
     {{ index }}. {{ key }} : {{ value }}
   </li>
 </ul>

 <div>
  <span v-for="n in 10">{{ n + " "}}</span>
</div>

<span v-once>This will never change: {{ msg   }}</span>
<span >This will can change: {{ msgchange   }}</span>
<span >What time is it: {{ now }}</span>

<div  class="needClass" v-bind:class="{ active: isActive, 'text-danger': hasError }"> dyn class </div>

<!-- 这种将css也打包成对象的写法似乎更清晰  这个classObject拿来当做计算属性也似乎更合适 -->
<div  class="needClass" :class="classObject"> dyn class2 </div>

<div v-bind:style = "{ color: activeColor, fontSize: fontSize + 'px' }">  dyn Css </div>

<!-- 可以看出 v-bind 的 Style 是优先级最高的 相当于内嵌的css -->
<div  class="needClass" v-bind:style = "[styleObject1]">  dyn Css </div>



<div v-if="ifok">
  <h1>标题</h1>
  <p>段落1</p>
  <p>段落2</p>
</div>
<div v-else>
  Now you don't
</div>


<!-- v-show 不支持 v-else -->
<div v-show="showok">
  <h1>showok</h1>
  <h1>showok2</h1>
</div>
<div v-else>
  Now you don't
</div>

</div>


  <div id="todo-list-example">
    <input
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="添加一个 todo (Add a todo)"
    >

    <!-- ul 限制了内部可以包含的元素  需要加上is 属性，否则会出现渲染错误 -->
    <ul>
      <li
      is = 'todo-demo'
      v-for="(todo, index) in todos"
      <!-- 这里的title是子组件使用 props 属性 -->
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
      ></li>
    </ul>

    <!-- 另一种写法 -->
    <ul>
      <todo-demo 
      v-for="(todo, index) in todos"
      
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
      ></todo-demo>
    </ul>

  </div>


  <!-- v-on 里面是可以直接写逻辑的 不仅仅限于写个方法名 -->

  <div id="example-1">
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
  </div>


  <div id="selectedTest">

    <select  v-model="selected">
     <!-- 动态绑定了 option 的 value 值 -->
     <option v-for="option in options" v-bind:value="option.value">
      {{ option.text }} - {{option.value}}
    </option>
  </select>
  <span>Selected: {{ selected }}</span>
</div>


<hr> 

<div id="counter-event-example">
  <p>{{ total }}</p>
  <button-counter @increment-a="incrementTotal"></button-counter>
  <button-counter @increment-a="incrementTotal"></button-counter>
</div>




<script>

  Vue.component('childdemo', {
  // camelCase in JavaScript
  // JavaScript 的驼峰命名
  props: ['myMessage'],
  template: '<span> {{myMessage}} </span>'
})


  Vue.component('todo-item', {
    props: ['todo','index'],
    template: '<li>{{ todo.text }} - {{ index }}</li>'
  })

  var app7 = new Vue({
    name:"app-7",
    el: '#app-7',
    data: {

      classObject: {
        active: true,
        'text-Object': true
      },
      activeColor: 'red',
      fontSize: 30,

      styleObject1: {
       color: 'red',
       fontSize: '13px'
     },
     styleObject2: {
       color: 'blue',
       fontSize: '13px'
     },


     isActive: true,
     hasError: true,
     firstName: 'Foo',
     lastName: 'Bar',
     msg:"first",
     msgchange:"canChange",

     parentAreaMessage: '父作用域',

     groceryList: [
     { text: 'Vegetables' },
     { text: 'Cheese' },
     { text: 'Whatever else humans are supposed to eat' }
     ],

//     v-if test
ifok :false,
showok : false, 

object: {
  FirstName: '狗蛋',
  LastName: '李',
  Age: 30
}

},

computed: {

        //计算属性里面的缓存特性
        now: function () {
          return Date.now()
        },

        //重写setter getter 方法而没有做拟合
        fullName :{
        // getter
        get: function () {
          return this.firstName + ' ' + this.lastName
        },

        // setter
        set: function (newValue) {
          var names = newValue.split(' ')
          this.firstName = names[0]
          this.lastName = names[names.length - 1]
        }

      }


    }
  })


  Vue.component('todo-demo', {
    template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">X</button>\
    </li>\
    ',
    props: ['title']
  })


  var todoVew = new Vue({
    el: '#todo-list-example',
    data: {
      newTodoText: '',
      todos: [
      '洗碗 (Do the dishes)',
      '倒垃圾 (Take out the trash)',
      '除草 (Mow the lawn)'
      ]
    },
    methods: {
         // 触发事件的时候输入的内容实际上是v-model传递过来的 
         addNewTodo: function () {
          this.todos.push(this.newTodoText)
          this.newTodoText = ''
        }
      }
    })


  var example1 = new Vue({
    el: '#example-1',
    data: {
      counter: 0
    }
  })



  new Vue({
    el: '#selectedTest',
    data: {
      selected: 'C',
      options: [
      { text: 'One', value: 'A' },
      { text: 'Two', value: 'B' },
      { text: 'Three', value: 'C' }
      ]
    }
  })


//父子组件的信息传递与相互隔离
Vue.component('button-counter', {
  template: '<button v-on:click="increment">{{ counter }}</button>',
  data: function () {
    return {
      counter: 0
    }
  },
  methods: {
    increment: function () {
      this.counter += 1
      // 不要使用驼峰命名，不然那个相应链条断了你都没发现
      this.$emit('increment-a')
    }
  },
})
new Vue({
  el: '#counter-event-example',
  data: {
    total: 0
  },
  methods: {
    incrementTotal: function () {
      this.total += 1
    }
  }
})




</script>

</body>
</html>