<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

  <script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
 <!-- 货币转化的外部封装功能 -->
<script src="https://cdn.rawgit.com/chrisvfritz/5f0a639590d6e648933416f90ba7ae4e/raw/98739fb8ac6779cb2da11aaa9ab6032e52f3be00/currency-validator.js"></script>
  <!-- axios  Ajax 使用库横项测评  -->
  <!-- <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.14.1/lodash.min.js"></script>

<style type="text/css">


/*.needClass{
  color: blue;
  background-color: green;
  font-size:100px;

} */


.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s ;
  /*cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 100px;
  opacity: 0;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity 1s ease;
}
.component-fade-enter, .component-fade-leave-active {
  opacity: 0;
}





.no-mode-translate-demo-wrapper {
  position: relative;
  height: 18px;
}
.no-mode-translate-demo-wrapper button {
  position: absolute;
}
.no-mode-translate-fade-enter-active, .no-mode-translate-fade-leave-active {
  transition: all 1s;
}
.no-mode-translate-fade-enter, .no-mode-translate-fade-leave-active {
  opacity: 0;
}
.no-mode-translate-fade-enter {
  transform: translateX(31px);
}
.no-mode-translate-fade-leave-active {
  transform: translateX(-31px);
}



.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}

.list-complete-enter, .list-complete-leave-active {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}



/* move 属性平滑过渡效果好
.list-complete-move {
  transition: transform 1s;
}*/


/* 这部分就没有 magic move 的效果了
.list-item {
  display: inline-block;
  margin-right: 10px;
}

.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-active {
  opacity: 0;
  transform: translateY(30px);
}*/

</style>


</head>
<body>

<div id="hook-arguments-example" v-demo:hello.a.b="message"></div>

<hr>

<div id="list-complete-demo" class="demo">
  <button v-on:click="shuffle">Shuffle</button>
  <button v-on:click="add">Add</button>
  <button v-on:click="remove">Remove</button>
  <transition-group name="list-complete" tag="p">
    <span
      v-for="item in items"
      v-bind:key="item"
      class="list-complete-item"
    >
      {{ item }}
    </span>
  </transition-group>
</div>


<hr>
 <!-- 平滑切换 -->
<hr>
<div id="no-mode-translate-demo" class="demo">
  <div class="no-mode-translate-demo-wrapper">

   <!-- mode="out-in" 这个参数使得过度元素切分开了 -->
    <transition name="no-mode-translate-fade" mode="out-in" >
      <button v-if="on" key="on" @click="on = false">
        on
      </button>
      <button v-else="" key="off" @click="on = true">
        off
      </button>
    </transition>
  </div>
</div>

  <hr> 

  <div id="transition-components-demo" class="demo">
  <input type="radio" value="v-a" id="a" name="view" v-model ="view">
  <label for="a">A</label>
  <input type="radio" value="v-b" id="b" name="view"  v-model ="view">
  <label for="b">B</label> 

  <!-- 动态组件的示范   这种状态下 mode="out-in" 设计显得很合理  -->
  <transition name="component-fade" mode="out-in">
    <component v-bind:is="view"></component>
  </transition>

  </div>


<hr>

<div id="example-css">
  <button @click="show = !show">
    Toggle render
  </button>
  <transition name="slide-fade">
    <p v-if="show">hello</p>
  </transition>
</div>

<hr>

   <div id="example">qqqqq</div>

    <!-- 放在这里就会被html 给普通渲染了 -->
    <div>
        <childdemo my-message="hello">  </childdemo>
    </div>

  <!-- <todo-item> </todo-item>> -->

  <div id="app-7"> 

  <!-- 人工的制造一个递归 溢出的错误  Chrome 会直接报错， Safari 递归渲染 -->  
  <!-- <stack-overflow></stack-overflow> -->

    <!-- 组件一定要在 Vue实例的范围内否则不生效 -->

         <!-- 这里的my-messsage 子组件要求的是number 而不是 String 所以这里 需要「:my-message」 -->
        <childdemo :my-message="123">  </childdemo>



    <input type="number" name="aaaa" v-model="msg">
    <p>Message is: {{ msg }}</p>
     
    拆解一下v-model 的语法糖 只响应输出
    <input type="text" name="bbb" :value="msg"  >

    只响应输入
    <input type="text" name="ccc" @input =" msg = $event.target.value "  >
    
    <!-- 或者只响应输入   下面这个示范
    失败了... -->
    <!-- <input type="text" name="ddd" @input =" msg = arguments[0] "  > -->

<hr>
    <ol>
      <!-- Now we provide each todo-item with the todo object    -->
      <!-- it's representing, so that its content can be dynamic -->

      <todo-item v-for="(item, index) in groceryList"
      v-bind:todo="item"
      v-bind:index="index">
    </todo-item>
  </ol>

  <ul >
    <li v-for="(item, index) of groceryList">
      {{ parentAreaMessage }} - {{ index }} - {{ item.text }}
    </li>
  </ul>


  <ul >
    <li v-for="(value, key, index) in object">
     {{ index }}. {{ key }} : {{ value }}
   </li>
 </ul>

 <div>
  <span v-for="n in 10">{{ n + " "}}</span>
</div>

<span v-once>This will never change: {{ msg   }}</span>
<span >This will can change: {{ msgchange   }}</span>
<span >What time is it: {{ now }}</span>

<div  class="needClass" v-bind:class="{ active: isActive, 'text-danger': hasError }"> dyn class </div>

<!-- 这种将css也打包成对象的写法似乎更清晰  这个classObject拿来当做计算属性也似乎更合适 -->
<div  class="needClass" :class="classObject"> dyn class2 </div>

<div v-bind:style = "{ color: activeColor, fontSize: fontSize + 'px' }">  dyn Css </div>

<!-- 可以看出 v-bind 的 Style 是优先级最高的 相当于内嵌的css -->
<div  class="needClass" v-bind:style = "[styleObject1]">  dyn Css </div>



<div v-if="ifok">
  <h1>标题</h1>
  <p>段落1</p>
  <p>段落2</p>
</div>
<div v-else>
  Now you don't
</div>


<!-- v-show 不支持 v-else -->
<div v-show="showok">
  <h1>showok</h1>
  <h1>showok2</h1>
</div>
<!-- <div v-else>
  Now you don't
</div>
 -->
</div>


  <div id="todo-list-example">
    <input
    v-model="newTodoText"
    v-on:keyup.enter="addNewTodo"
    placeholder="添加一个 todo (Add a todo)"
    >

    <!-- ul 限制了内部可以包含的元素  需要加上is 属性，否则会出现渲染错误 -->
    <ul>
      <li
      is = 'todo-demo'
      v-for="(todo, index) in todos"
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
      ></li>
    </ul>

    <!-- 另一种写法 -->
    <ul>
      <todo-demo
      v-for="(todo, index) in todos"
      v-bind:title="todo"
      v-on:remove="todos.splice(index, 1)"
      ></todo-demo>
    </ul>

  </div>


<hr>
  <!-- v-on 里面是可以直接写逻辑的 不仅仅限于写个方法名 -->

  <div id="example-1">
    <button v-on:click="counter += 1">Add 1</button>
    <p>The button above has been clicked {{ counter }} times.</p>
  </div>


  <div id="selectedTest">

    <select  v-model="selected">
     <!-- 动态绑定了 option 的 value 值 -->
     <option v-for="option in options" v-bind:value="option.value">
      {{ option.text }} - {{option.value}}
    </option>
  </select>
  <span>Selected: {{ selected }}</span>
</div>


<hr> 

<div id="counter-event-example">
  <p>{{ total }}</p>

  <button-counter @increment-a="incrementTotal"></button-counter>
  <button-counter @increment-a="incrementTotal"></button-counter>
</div>


<hr>一个复杂一点点的货币规则

<div id="currencValidate">
  <currency-input 
    label="Price" 
    v-model="price"
  ></currency-input>
  <currency-input 
    label="Shipping" 
    v-model="shipping"
  ></currency-input>
  <currency-input 
    label="Handling" 
    v-model="handling"
  ></currency-input>
  <currency-input 
    label="Discount" 
    v-model="discount"
  ></currency-input>
  
  <p>Total: ${{ total }}</p>
</div>


<hr>






<script>


Vue.directive('demo', {
  bind: function (el, binding, vnode) {
    var s = JSON.stringify
    el.innerHTML =
      'name: '       + s(binding.name) + '<br>' +
      'value: '      + s(binding.value) + '<br>' +
      'expression: ' + s(binding.expression) + '<br>' +
      'argument: '   + s(binding.arg) + '<br>' +
      'modifiers: '  + s(binding.modifiers) + '<br>' +
      'vnode keys: ' + Object.keys(vnode).join(', ')
  }
})

new Vue({
  el: '#hook-arguments-example',
  data: {
    message: 'hello!'
  }
})


new Vue({
  el: '#list-complete-demo',
  data: {
    items: [1,2,3,4,5,6,7,8,9],
    nextNum: 10
  },
  methods: {
    randomIndex: function () {
      return Math.floor(Math.random() * this.items.length)
    },
    add: function () {
      this.items.splice(this.randomIndex(), 0, this.nextNum++)
    },
    remove: function () {
      this.items.splice(this.randomIndex(), 1)
    },
    shuffle: function () {
      this.items = _.shuffle(this.items)
    }
  }
})


 new Vue({
  el: '#no-mode-translate-demo',
  data: {
    on: false
  }
})
 

new Vue({
  el: '#transition-components-demo',
  data: {
    view: 'v-a'
  },
  components: {
    'v-a': {
      template: '<div>Component A</div>'
    },
    'v-b': {
      template: '<div>Component B</div>'
    }
  }
})


Vue.component('stack-overflow', {
name: 'stack-overflow',
template: '<div><stack-overflow>1</stack-overflow></div>'

})

  Vue.component('childdemo', {
  // camelCase in JavaScript
  // JavaScript 的驼峰命名
  props: {
    myMessage :{
          type: Number,
          required: true
    }
  },
  template: '<span> {{myMessage}} </span>'
})


  Vue.component('todo-item', {
    props: ['todo','index'],
    template: '<li>{{ todo.text }} - {{ index }}</li>'
  })

  var app7 = new Vue({
    name:"app-7",
    el: '#app-7',
    data: {

      classObject: {
        active: true,
        'text-Object': true
      },
      activeColor: 'red',
      fontSize: 30,

      styleObject1: {
       color: 'red',
       fontSize: '13px'
     },
     styleObject2: {
       color: 'blue',
       fontSize: '13px'
     },


     isActive: true,
     hasError: true,
     firstName: 'Foo',
     lastName: 'Bar',
     msg:"first",
     msgchange:"canChange",

     parentAreaMessage: '父作用域',

     groceryList: [
     { text: 'Vegetables' },
     { text: 'Cheese' },
     { text: 'Whatever else humans are supposed to eat' }
     ],

//     v-if test
ifok :false,
showok : false, 

object: {
  FirstName: '狗蛋',
  LastName: '李',
  Age: 30
}

},

computed: {

        //计算属性里面的缓存特性
        now: function () {
          return Date.now()
        },

        //重写setter getter 方法而没有做拟合
        fullName :{
        // getter
        get: function () {
          return this.firstName + ' ' + this.lastName
        },

        // setter
        set: function (newValue) {
          var names = newValue.split(' ')
          this.firstName = names[0]
          this.lastName = names[names.length - 1]
        }

      }


    }
  })


  Vue.component('todo-demo', {
    template: '\
    <li>\
      {{ title }}\
      <button v-on:click="$emit(\'remove\')">X</button>\
    </li>\
    ',
    props: ['title']
  })


  var todoVew = new Vue({
    el: '#todo-list-example',
    data: {
      newTodoText: '',
      todos: [
      '洗碗 (Do the dishes)',
      '倒垃圾 (Take out the trash)',
      '除草 (Mow the lawn)'
      ]
    },
    methods: {
         // 触发事件的时候输入的内容实际上是v-model传递过来的 
         addNewTodo: function () {
          this.todos.push(this.newTodoText)
          this.newTodoText = ''
        }
      }
    })


  var example1 = new Vue({
    el: '#example-1',
    data: {
      counter: 0
    }
  })



  new Vue({
    el: '#selectedTest',
    data: {
      selected: 'C',
      options: [
      { text: 'One', value: 'A' },
      { text: 'Two', value: 'B' },
      { text: 'Three', value: 'C' }
      ]
    }
  })


//父子组件的信息传递与相互隔离
Vue.component('button-counter', {
  template: '<button v-on:click="increment">{{ counter }}</button>',
  data: function () {
    return {
      counter: 0
    }
  },
  methods: {
    increment: function () {
      this.counter += 1
      // 不要使用驼峰命名，不然那个相应链条断了你都没发现
      this.$emit('increment-a')
    }
  },
})
new Vue({
  el: '#counter-event-example',
  data: {
    total: 0
  },
  methods: {
    incrementTotal: function () {
      this.total += 1
    }
  }
})

////////////

Vue.component('currency-input', {
  template: '\
    <div>\
      <label v-if="label">{{ label }}</label>\
      $\
      <input\
        ref="input"\
        v-bind:value="value"\
        v-on:input="updateValue($event.target.value)"\
        v-on:focus="selectAll"\
        v-on:blur="formatValue"\
      >\
    </div>\
  ',
  props: {
    value: {
      type: Number,
      default: 0
    },
    label: {
      type: String,
      default: ''
    }
  },

  mounted: function () {
    this.formatValue()
  },

  methods: {
    updateValue: function (value) {
      var result = currencyValidator.parse(value, this.value)
      if (result.warning) {
        this.$refs.input.value = result.value
      }
      this.$emit('input', result.value)
    },
    

    // $refs 在组件渲染完成后才会被填充，而且它不是响应式的。它仅仅是一个直接操作子组件的应急手段，你应该避免在模板或计算属性中使用 $refs。
    formatValue: function () {
      this.$refs.input.value = currencyValidator.format(this.value)
    },
    selectAll: function (event) {
      // Workaround for Safari bug
      // http://stackoverflow.com/questions/1269722/selecting-text-on-focus-using-jquery-not-working-in-safari-and-chrome
      setTimeout(function () {
        event.target.select()
      }, 0)
    }
  }
})

new Vue({
  el: '#currencValidate',
  data: {
    price: 0,
    shipping: 0,
    handling: 0,
    discount: 0
  },
  computed: {
    total: function () {
      return ((
        this.price * 100 + 
        this.shipping * 100 + 
        this.handling * 100 - 
        this.discount * 100
      ) / 100).toFixed(2)
    }
  }
})
///////////

new Vue({
  el: '#example-css',
  data: {
    show: true
  }
})


/////////////



</script>

</body>
</html>